<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:batch="http://www.springframework.org/schema/batch"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/batch 
http://www.springframework.org/schema/batch/spring-batch.xsd
http://www.springframework.org/schema/task
http://www.springframework.org/schema/task/spring-task.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<!-- Enable autowire -->
	<context:annotation-config />
	<context:component-scan
		base-package="com.interland.OnlineCourse.*" />

	<mvc:annotation-driven />
	<task:annotation-driven />

	<mvc:resources mapping="/resources/**"
		location="/resources/" />
	<!-- <bean id="jobRepository" class="org.springframework.batch.core.repository.support.JobRepositoryFactoryBean"> 
		<property name="dataSource" ref="dataSource" /> <property name="transactionManager" 
		ref="transactionManager" /> <property name="databaseType" value="mysql" /> 
		</bean> <bean id="jobLauncher" class="org.springframework.batch.core.launch.support.SimpleJobLauncher"> 
		<property name="jobRepository" ref="jobRepository" /> </bean> -->
	<!-- If you use MySQL Database comment out this bean and let others commented -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://127.0.0.1:3306/asd-project" />
		<property name="username" value="root" />
		<property name="password" value="admin" />
	</bean>

	<!-- Session Factory Declaration -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan"
			value="com.interland.OnlineCourse.model" />
		<property name="hibernateProperties">
			<props>
				<!-- SQL Server 2014 Dialect -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>

				<!-- Your required Database Name -->
				<!-- <prop key="hibernate.default_schema">user</prop> -->

				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.enable_lazy_load_no_trans">true</prop>
				<prop key="format_sql">true</prop>
				<prop key="use_sql_comments">true</prop>
			</props>
		</property>
	</bean>

	<tx:annotation-driven
		transaction-manager="transactionManager" />

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- <job id="myJob" xmlns="http://www.springframework.org/schema/batch" 
		restartable="true"> <step id="step1" allow-start-if-complete="true"> <tasklet 
		ref="myTasklet"> </tasklet> </step> </job> <bean id="myTasklet" class="com.interland.OnlineCourse.util.MyTasklet"> 
		</bean> <bean id="myScheduler" class="com.interland.OnlineCourse.util.MyScheduler" 
		/> this is where we are scheduling the job to run using our scheduler every 
		150 secs, note how the method of the scheduler and the cron expression to 
		be used are being specified <task:scheduled-tasks> <task:scheduled ref="myScheduler" 
		method="run" cron="*/150 * * * * *" /> </task:scheduled-tasks> -->
	<bean id="mailSender"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="projectemail0007@gmail.com" />
		<property name="password" value="computer@100" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.debug">true</prop>
				<prop key="mail.transport.protocol">smtp</prop>
				<prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
				<prop key="mail.smtp.socketFactory.port">465</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
			</props>
		</property>
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
		
	<!-- <import resource="spring-ws.xml" />
 -->
</beans>